<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- 控制器配置 -->
	<servlet>
		<servlet-name>gf_im_manager</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>namespace</param-name>
			<param-value>im_manager/controller/*</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- 全局过滤器 -->
	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>com.agileeagle.gf.im.manager.controller.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>




	<servlet-mapping>
		<servlet-name>gf_im_manager</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- 设置全局session过期时间 -->
	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>

	<!-- 设置jsp include file的编码 -->
	<jsp-config>
		<jsp-property-group>
			<description>
				Special property group for JSP Configuration JSP
				example.
			</description>
			<display-name>JSPConfiguration</display-name>
			<url-pattern>*.html</url-pattern>
			<el-ignored>true</el-ignored>
			<page-encoding>UTF-8</page-encoding>
			<scripting-invalid>true</scripting-invalid>
			<include-prelude></include-prelude>
			<include-coda></include-coda>
		</jsp-property-group>
	</jsp-config>
</web-app>
